<friendsPageButtons id="friendsPageButtons">
    <div class="row fixed-bottom centerbuttonbar" id="friendsPageNavBarContainer">
        <button class="friendsPageNavBar" id="friendsPageFriendsButton">Friends</button>
        <button class="friendsPageNavBar" id="friendsPagePendingButton">Pending</button>
        <button class="friendsPageNavBar" id="friendsPageSocialMediaButton">Social Media</button>
    </div>
</friendsPageButtons>
