<div class="row fixed-bottom" id="centerbuttonbar">
    <button class="rectangularButton pagination-centered" id="removeFriendButton">Remove</button>
    <button class="rectangularButton pagination-centered" id="addFriendButton">Add</button>
    <button class="rectangularButton pagination-centered" id="callFriendButton">Message</button>
</div>