<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col" id="topbar">
            <div class="row" id="appTitleContainer">
                <div class="col align-items-center">
                    <h2 id="appTitle">Groupceries</h2>
                </div>
            </div>
            <div class="row" id="pageTitleContainer">
                <div class="col align-items-center">
                    <h4 id="pageTitle">Shrek's Groceries</h4>
                </div>
            </div>
            <button id="logOutButton">Log Out</button>
            <div class="row" id="appContextContainer">
                <div class="col my-auto" id="appContextTitle">
                    <p>Groceries</p>
                </div>
            </div>
            <div id="itemsArea" class="col align-items-center">
                <div class="d-flex addListBox">
                    <div class="p-2"><p id="itemName">Barley</p></div>
                    <div class="p-2"><p id="itemValue">21</p></div>
                    <div class="p-2"><p id="itemValueUnit">kg</p></div>
                </div>
                <div class="d-flex addListBox">
                    <div class="p-2"><p id="itemName">Toilet Paper</p></div>
                    <div class="p-2"><p id="itemValue">24</p></div>
                    <div class="p-2"><p id="itemValueUnit">rolls</p></div>
                </div>
                <div class="d-flex addListBox">
                    <div class="p-2"><p id="itemName">Carrots</p></div>
                    <div class="p-2"><p id="itemValue">3</p></div>
                    <div class="p-2"><p id="itemValueUnit">kg</p></div>
                </div>
                <div style="width:100%;height:1000px;"></div>
                <div class="d-flex addListBox">
                    <div class="p-2"><p id="itemName">Potatos</p></div>
                    <div class="p-2"><p id="itemValue">3</p></div>
                    <div class="p-2"><p id="itemValueUnit">kg</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="row fixed-bottom" id="centerbuttonbar">
            <button class="rectangularButton pagination-centered" id="centerLeftButton">Shopping Mode</button>
            <input type="checkbox" class="ml-auto" id="readyForShoppingToggle" checked data-toggle="toggle" data-size="medium" data-style="ios" data-on="Ready for purchase" data-off="Not Ready">
            <button class="rectangularButton pagination-centered" id="centerRightButton">Add</button>
        </div>
        <nav class="navbar fixed-bottom navbar-inverse navbar-dark" id="navbar" style="background:#20187A">
            <a class="navbar-brand" href="merge.html"  id="navbarItem">Merge</a>
            <a class="navbar-brand" href="glist.html"  id="navbarItemActive">Grocery list</a>
            <a class="navbar-brand" href="friends.html"  id="navbarItem">Friends</a>
        </nav>
    </div>
</div>