<mergePageButtons id="mergePageButtons">
    <div class="row fixed-bottom mobileAddContainer" id="newListContainer">
        <placeholderForNewListButton id="placeholderForNewListButton"></placeholderForNewListButton>
    </div>
    <div class="row fixed-bottom centerbuttonbar">
    <button class="rectangularButton pagination-centered" id="cancelMergeButton">Cancel</button>
    <button class="rectangularButton pagination-centered" id="mergeListsButton">Merge</button>
    <button class="rectangularButton pagination-centered" id="confirmMergeButton">Confirm</button>
</div>
</mergePageButtons>
