<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col" id="topbar">
            <div class="row" id="appTitleContainer">
                <div class="col align-items-center">
                    <h2 id="appTitle">Groupceries</h2>
                </div>
            </div>
            <div class="row" id="pageTitleContainer">
                <div class="col align-items-center">
                    <h4 id="pageTitle">Merge Groucery Lists</h4>
                </div>
            </div>
            <button id="logOutButton">Log Out</button>
            <div class="row" id="appContextContainer">
                <div class="col my-auto" id="appContextTitle">
                    <p>Lists avalible for merging</p>
                </div>
            </div>
            <div id="itemsArea" class="col align-items-center">
                <div class="d-flex addListBox">
                    <div class="p-2"><p>Donkey's Grocery List</p></div>
                    <div class="p-2 ml-auto rightMostButton"><button class="addButton">Add List</button></div>
                </div>
                <div class="d-flex removeListBox">
                    <div class="p-2"><p>Puss In Boots Grocery List</p></div>
                    <div class="p-2 ml-auto rightMostButton"><button class="removeButton">Remove</button></div>
                </div>
                <div style="width:100%;height:1000px;"></div>
                <div class="d-flex removeListBox">
                    <div class="p-2"><p>Fiona Grocery List</p></div>
                    <div class="p-2 ml-auto rightMostButton"><button class="removeButton">Remove</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="row fixed-bottom" id="centerbuttonbar">
            <button class="rectangularButton pagination-centered">Merge</button>
        </div>
        <nav class="navbar fixed-bottom navbar-inverse navbar-dark" id="navbar" style="background:#20187A">
            <a class="navbar-brand" href="merge.html"  id="navbarItemActive">Merge</a>
            <a class="navbar-brand" href="glist.html"  id="navbarItem">Grocery list</a>
            <a class="navbar-brand" href="friends.html"  id="navbarItem">Friends</a>
        </nav>
    </div>
</div>