<mobileHeader id="mobileHeader">
    <div class="row" id="appTitleContainer">
        <div class="col align-items-center">
            <h2 id="appTitle">Groupceries</h2>
            <h3 id="pageTitle">Your Lists</h3>
            <hr id="shoppingListHr">
        </div>
    </div>
</mobileHeader>
