<div class="row" id="appTitleContainer">
    <div class="col align-items-center">
        <h2 id="appTitle">Groupceries</h2>
    </div>
</div>
<div class="row" id="pageTitleContainer">
    <div class="col align-items-center">
        <h4 id="pageTitle">Friends Lists</h4>
    </div>
</div>
<button id="logOutButton">Log Out</button>
<div class="row" id="appContextContainer">
    <div class="col my-auto" id="appContextTitle">
        <p>Friends</p>
    </div>
</div>