<mainPageButtons id="mainPageButtons">
    <div class="row fixed-bottom centerbuttonbar">
        <button class="rectangularButton pagination-centered" id="centerLeftButton">Shopping Mode</button>
        <input type="checkbox" class="ml-auto" id="readyForShoppingToggle" checked data-toggle="toggle" data-size="medium" data-style="ios" data-on="Ready for purchase" data-off="Not Ready">
        <button class="rectangularButton pagination-centered" id="centerRightButton">Add</button>
    </div>
</mainPageButtons>
