<nav class="navbar fixed-bottom navbar-inverse mobileNavbar" id="mobileBottomNav" style="background:#20187A">
        <form action="/" method="get">
                <button class="navbar-brand navbarItem">Home</button>  
            </form>
        <button class="navbar-brand navbarItem" id="lists">Merge</button>
        <button class="navbar-brand navbarItemActive" id="currentList">Grocery list</button>
        <button class="navbar-brand navbarItem" id="friends">Friends</button>
        <form action="/groceries/aboutUsPage" method="get">
                <button class="navbar-brand navbarItem">About Us</button>
        </form>
        <form id="signOut" onclick={signOut()}>
                <button class="navbar-brand navbarItem" onclick={signOut()}>Log Out</button>
        </form>
</nav>
<!-- <nav class="navbar navbar-inverse mobileNavbar" style="background:#20187A">
        <form action="/groceries/aboutUsPage" method="get">
                <button class="navbar-brand navbarItem">About Us</button>
        </form>
        <form action="/" method="get">
                <button class="navbar-brand navbarItem">Home</button>  
        </form>
        <form id="signOut" onclick={signOut()}>
                <button class="navbar-brand navbarItem" onclick={signOut()}>Log Out</button>
        </form>
</nav> -->