<nav class="navbar fixed-bottom navbar-inverse mobileNavbar" id="mobileBottomNav" style="background:#20187A">
        <button class="navbar-brand navbarItem" id="lists">Merge</button>
        <button class="navbar-brand navbarItemActive" id="currentList">Grocery list</button>
        <button class="navbar-brand navbarItem" id="friends">Friends</button>
</nav>