<mobileHeader id="mobileHeader">
    <div class="row" id="appTitleContainer">
        <div class="col align-items-center">
            <h2 id="appTitle">Groupceries</h2>
        </div>
    </div>
</mobileHeader>
