<nav class="navbar fixed-bottom navbar-inverse mobileNavbar" style="background:#20187A">
        <button class="navbar-brand navbarItem">Merge</button>
        <button class="navbar-brand navbarItemActive">Grocery list</button>
        <button class="navbar-brand navbarItem">Friends</button>
</nav>