<div class="container">
    <div class="row">
      <div class="col-md">
        <b>Name</b>
        <i>email</i>
      </div>
      <div class="col-sm">
          <!-- The id for buttons are very important -->
          <!-- Please don't change the id -->
        <button id="uidOfFriend" onclick="acceptRequest()">Accept</button>
        <button id="uidOfFriend" onclick="declineRequest()">Decline</button>
      </div>
    </div>
  </div>

  <script src="../js/friends.js"></script>