<div class="container" id="sentFriends">
    <div class="row">
      <div class="col-md">
        <b>Name</b>
        <i>email</i>
      </div>
      <div class="col-sm">
          <!-- The id for buttons are very important -->
          <!-- Please don't change the id -->
        <button id="uidOfFriend" onclick="undoSentRequest()">Undo Request</button>
      </div>
    </div>
  </div>

  <script src="../js/firebaseInit.js"></script>
  <script src="../js/sentFriends.js"></script>