<!-- Some buttons for twitter (not integrated with a proper ui) -->

<!-- Tweet button -->
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Mention button -->
<a href="https://twitter.com/intent/tweet?screen_name=somene&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Mention</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Hashtag button -->
<a href="https://twitter.com/intent/tweet?button_hashtag=somene&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Hashtag</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Message button -->
<a href="https://twitter.com/messages/compose?recipient_id=&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="@somene" data-show-count="false">Message</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>