#easterEgg {
    display: none;
    margin: auto;
    width: 700px;
    height: 700px;
    background-image: url("/images/rupaulstage.jpg");
    background-position: center;
}

@media (min-width: 1025px) {
    #aboutUsPage {
        height: calc(100vh - 11rem);
        display: none
    }

    #aboutUsParagraph p {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #pageTitle {
        display: none;
    }
    #aboutUsPage h1{
        color: black;
    }
    #aboutUsPage p{
        color: black;
    }
    .card {
        width: 14rem;
        color: black;
    }
    #buttons {
        border-bottom: 1px solid grey;
        height: 75px;
        display: block;
    }
    #right {
        z-index: 1000;
        float: right;
    }
    #left, #aboutUsPage {
        z-index: 1000;
        float: left;
    }
    #newItemDetails {
        display: none;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    #notes {
        display: table-cell;
        width: 100%;
    }
    
    #addItem {
        display: table-cell;
        width: 100%;
        margin-top: 5px;
    
    }
    
    #listArea {
        border: 1px solid black;
        border-radius: 16px;
        height: 80vh;
        overflow: auto;
        margin: 0!important;
    }
    #newItem {
        grid-area: four;
    }
    
    #listTitle {
        font-size: x-large;
        font-weight: bold;
        grid-area: one;
        margin-left: 15px;
        margin-top: 15px
    }
    .custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
        text-indent: -3.9em;
        border-radius: 20px;
        width:11em;
    }
    .custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
        border-radius: 20px;
        width:4em
    }
    .custom-size-flipswitch.ui-flipswitch {
        width: 11em;
        border-radius: 20px;
    }
    .custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
        padding-left: 7em;
        width: 11em;
        border-radius: 20px;
    }
    
    .collapse {
        display: none;
    }
    
    .textInput {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
    }
    
    .listItems {
        padding: 10px;
        border: 1px solid indigo;
        border-radius: 5px;
        display: relative;
        margin-bottom: 1rem;
    }
    
    .listInputLabels {
        font-weight: bold;
        color: indigo;
    }
    
    .textInput[id |= "Name"] {
        display: table-cell;
        width: 50%;
    }
    
    .textInput[id |= "Quantity"] {
        display: table-cell;
        width: 20%;
    }
    
    #buttonFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
    }
    #buttonFooter {
        display: none;
    }
    #rightMobile {
        display: none;
    }
    #rightDesktop {
        display: block
    }
    #mobileButtonBar {
        display:none
    }
    #mobileBottomNav {
        display: none;
    }
    #mobileHeader {
        display: none;
    }
    .centerbuttonbar {
        display: none;
    }
    /* #aboutUsPage {
        margin-top: 4.3rem;
        color: white;
    } */
    #aboutUsHomeBtn {
        display: none;
    }
    .groupMemberPhoto {
        padding: 0!important;
    }
    .groupMemberCard {
        padding: 0!important;
        border-left: 0;
        border-right: 0;
        margin: 0;
    }
    .card-group {
        flex-flow: nowrap;
    }
}

@media (max-width: 1024px) {
    #friendsPageNavBarContainer {
        padding-bottom: 0!important;
        height: auto!important;
        flex-wrap: nowrap;
    }
    .groupMemberPhoto {
        width: 35vw;
        height: 45vw;
        padding: 0!important;
    }
    .groupMemberCard {
        padding: 0!important;
        border-style: solid;
        border-color: black;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    #aboutUsTitle {
        padding-left: 10px;
        color: white;
        margin: 0;
    }
    #desktopNavbar {
        display: none!important;
    }
    #left, #aboutUsPage, #right, #rightDesktop, #friendlists, #myLists, #avalibleLists, #friendLists{
        color: black;
    }
    #rightDesktop {
        display: none;
    }
    #mobileButtonBar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rebeccapurple;
        color: white;
        display: grid;
        font: medium;
        grid-template-columns: repeat(3,1fr);
    }
    body{
        /* background-color:#140A26; */
        background-image: linear-gradient(to left, #01dc86, #00d187, #00c587, #00ba86, #11ae84);
        overflow-x: hidden;
    }
    #listArea {
        border: 1px solid black;
        border: 16px;
    }
    #topbar {
        /* background-image: linear-gradient(to left, #01dc86, #00d187, #00c587, #00ba86, #11ae84)!important; */
        background-color: white;
        position: fixed;
    }
    #appTitle {
        color: white;
        text-align: center;
        font-size: xx-large;
    }
    #pageTitle {
        color: white;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    #appContextTitle p{
        background-color: rgb(0, 0, 0);
        color: red;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .addListBox {
        background-color: lightgray;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .addListBox p{
        font-weight: bold;
        width: 100%;
        margin: 0;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
    .addListBox button{
        height: 100%;
    }
    .removeListBox {
        color: white;
        background-color: grey;
        margin-top: 0.625rem;
        margin-bottom: 1.25rem;
    }
    .removeListBox p{
        font-weight: bold;
        width: 100%;
        margin: 0;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
    .removeListBox button{
        height: 100%;
    }
    .editAmount {
        font-weight: 500;
        width: 100%;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: white;
        border-color: black;
        border-top: 0;
        border-bottom: 0;
        border-right: 1px;
        color: black;
    }
    .removeButton {
        background-color: red;
        font-weight: bold;
        border-color: red;
        color: white;
    }
    .centerbuttonbar {
        margin-bottom: 3rem;
        background-color: #140A26;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding-bottom: 3.5rem;
    }
    .addButton{
        width: 13vw!important;
    }
    .rectangularButton {
        background-color: #5B3E96;
        border: none;
        color: white;
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        font-weight: 500;
        border-radius: 1rem;
    }
    .mobileNavbar { 
        padding: 0!important;
    }
    .mobileNavbar form{ 
        display: flex;
    }
    .navbar { 
        flex-wrap: unset;
    }
    .navbarItem{
        padding: .5rem 1rem;
        margin: 0;
        float: left;
        height: max-content;
        background-color: #20187A;
        color: #ffffff;
        border: none;
    }
    .navbarItemActive{
        padding: .5rem 1rem;
        margin: 0;
        float: left;
        height: max-content;
        background-color: #ffffff;
        color: #20187A;
        border: none;
    }
    .navbar-brand {
        width: 20vw;
        text-align: center;
        padding-top: 0.68rem;
        padding-bottom: 0.68rem;
    }
    #logoIcon {
        width: 7.5rem;
        height: 4.5rem;
        margin: auto;    
        display: block;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    #appContextContainer {
        background-color: rgb(0, 0, 0);
    }
    .itemsArea{
        overflow-y:scroll;
        width:100%;
        height:calc(100vh - 13rem - 60px);
        align-self: center;
        padding-left: 0;
        padding-right: 0;
    }
    .listsArea{
        overflow-y:scroll;
        width:100%;
        align-self: center;
        padding-left: 0;
        padding-right: 0;
    }
    .listsPageArea {
        overflow-y:scroll;
        width:100%;
        align-self: center;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5rem;
    }
    .pageArea{
        overflow-y:scroll;
        width:100%;
        height: calc(100vh - 10rem);
        align-self: center;
        padding-left: 0;
        padding-right: 0;
    }
    .listItems {
        padding-bottom: 75px;
        border-bottom: 2px solid grey;
    }
    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 2rem!important;
        width: 11rem!important;
        padding-top: 1rem!important;
    }
    .toggle.btn {
        max-width: 25vw;
        margin-left: 6.25vw;
        margin-right: 6.25vw;
    }
    .btn-primary {
        border-color: #20187A!important;
        background-color: #20187A!important;
        color: #fff!important;
    }
    #shoppingListHr {
        margin-bottom: 0.4rem;
        margin-top: 0;
    }
    .centerbuttonbar .btn {
        background-color: white;
        color: black;
        padding-right: 1rem!important;
    }
    .centerbuttonbar .toggle {
        overflow: hidden;
    }
    #itemValue {
        position: fixed;
        left: 70%
    }
    #itemValueUnit {
        position: fixed;
        left: 80%
    }
    #logOutButton {
        font-size: xx-small;
        font-weight: 500;
        float: right;
        height: 2.79rem;
        background-color: black;
        border: black;
        color: white;
    }
    #removeFriendButton, #cancelMergeButton {
        background-color: red!important;
        font-weight: bold!important;
        font-size: 0.8rem!important;
    }
    #addFriendButton, #mergeListsButton, #confirmMergeButton {
        background-color: #00c587!important;
        margin-left: 6.25vw;
        font-size: 0.8rem;
        font-weight: bold;
    }
    #callFriendButton {
        background-color: blue!important;
        font-size: .8rem;
        font-weight: bold;
        margin-left: 6.25vw;
    }
    #logInSection {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .itemsArea label{
        color: black;
    }
    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    #groceryList {
        border-bottom: 1px solid grey;
        display: block;
    }
    .editButton, .deleteButton, .cancelButton, .saveButton, .addButton {
        width: 100%!important;
    }
    #aboutUsHeader {
        background-image: linear-gradient(to left, #01dc86, #00d187, #00c587, #00ba86, #11ae84)!important;
    }
    .aboutUsheaderBorder {
        margin: 0;
    }
    #aboutUsHomeBtn {
        margin-right: 0;
        background-color: #41bdf7;
        border: solid 1px rgba(102, 102, 235, 0.699);
        width: 4rem;
        border-radius: 10%;
        color: white;
    }
    #appHead {
        background-image: linear-gradient(to left, #01dc86, #00d187, #00c587, #00ba86, #11ae84)!important;
    }
    #middle {
        background-color:white;
        max-width: none;
        padding-left: 1px;
        padding-right: 1px;
    }
    /* #pageTitle {
        border-bottom: solid grey 1px;
        padding-bottom: 5px;
    } */
    .deskTopShoppingListsTitle {
        display: none;
    }
    #groupMemberContainerLoggedIn {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
        width: 100%;
        max-width: 100%!important;
        flex: none;
        margin-left: 0;
    }
    #groupMemberContainerLoggedOut {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }
    #aboutUsPage {
        height: calc(100vh - 11rem);
        display: none
    }
    #aboutUsPageLoggedOut {
        height: calc(100vh - 11rem);
        margin-top: 7rem;
        color: black;
        background-color: white;
    }
    #readyForShoppingToggle {
        width: 25vw;
        font-weight: bold;
    }
    #centerLeftButton {
        background-color: orangered;
    }
    #createList {
        background-color: #11ae84;
        font-weight: bold;
        color: white;
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
    }
    #myListsList {
        margin-bottom: 10rem;
    }
    #right {
        display: none;
    }
    #left {
        display: none;
        min-width: 100%;
    }
    #aboutUsPage {
        display: none;
    }
    .listCollapsible {
        background-color: whitesmoke;
        margin-top: 1rem;
        padding-top: 0rem!important;
    }
    .listCollapsibleLayer2 {
        background-color: whitesmoke;
        margin-top: 1rem;
        padding-top: 0rem!important;
        max-width: 95%;
        margin-left: 5%;
    }
    .listCollapsibleLayer3 {
        background-color: whitesmoke;
        margin-top: 1rem;
        padding-top: 0rem!important;
        max-width: 90%;
        margin-left: 10%;
    }
    #listTitleSection {
        padding-top: 0!important;
    }
    .groceryList {
        overflow-y: hidden;
    }
    .inputLabels {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem!important;
    }
    .friendsPageNavBar {
        width: 100%;
        height: 3.5rem;
        color: grey;
        border: 0;
        background-color: #140A26!important;
    }
}
#delIcon {
    width: 2rem;
}
#middle {
    max-width: none;
}
.editButton, .deleteButton, .saveButton, .cancelButton, .addButton{
    color: white;
    background-color: red;
    font-weight: bold;
    height: 100%;
    display: flex;
    float: right;
    border: transparent;
    margin-top: 0.5rem;
}
.deleteEntireListButton {
    color: white;
    font-weight: bold;
    height: 100%;
    float: right;
    border: transparent;
    font-size: 0.8rem;
}
.addToListButton {
    color: white;
    font-weight: bold;
    float: right;
    border: transparent;
    font-size: 0.8rem;
}
.deleteEntireListButton{
    background-color: red;
}
.deleteListButton{
    font-weight: bold;
    border: none;
    color: white;
    height: 100%;
    width: max-content;
}
.addItemButton, .saveButton, .cancelButton{
    font-weight: bold;
    border: none;
    color: white;
    height: 100%;
    width: max-content;
}
.viewListsbutton {
    float: right;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: lightskyblue;
}
.deleteButton, .deleteListButton, .cancelButton {
    background-color: red;
} 
.editButton {
    background-color: rgb(50, 131, 238);
} 
.addButton, .saveButton, .addItemButton, .addToListButton {
    background-color: #00c587
} 
.p-2 {
    padding-bottom: 0!important;
    padding-right: 0!important;
}
.itemsArea input ,select{
    display: flex;
    float: right;
}
.itemsArea .itemInfo, .viewListsButton {
    width: 161px;
    height: 22px;
}
.rightMostButton {
    padding-top: 0!important;
    padding-right: 0!important;
    width: fit-content;
}
#aboutUsPage .card {
    background-color: transparent;
}
/* #aboutUsPageLoggedOut .card {
    background-color: transparent;
} */
.aboutUsTitle {
    color: white;
}
#launchPageTop {
    background-image: linear-gradient(to left, #01dc86, #00d187, #00c587, #00ba86, #11ae84);
}