<!-- SS - modal pop up for add friends -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col" id="topbar">
            <%- include('../partials/mobileMainHeader.ejs'); -%>
            <%- include('../partials/appNavbar.ejs'); -%>
            <div class="col bg-light itemsArea">
                    <div class="col-lg-3" id="left">
                        <h3>Shopping Lists</h3><hr>
                        <div id="myLists">
                            <button id="myLists" class="btn collapsible">My Lists</button>
                            <ul id="availableLists" class="collapse">
                                    <p>My List</p>
                                    <p>List 2</p>
                                    <p>List 3</p>
                            </ul>
                        </div>
                        <div id="friendLists">
                            <button id="friendLists" class="btn collapsible">Friends' Lists</button>
                            <div class="collapse">
                                <ul id="shagun" class="collapsible">Shagun's Lists</ul>
                                    <p class="collapse">List 1</p>
                                <ul id="ronald" class="collapsible">Ronald's Lists</ul>
                                    <p class="collapse">List 1</p>
                                <ul id="eric" class="collapsible">Eric's Lists</ul>
                                    <p class="collapse">List 1</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" id="right">
                        <div id="rightDesktop">
                            <h3>List Actions</h3><hr><br>
                            <ul id="actionList">
                                <label id="readyToggle">Mark as Ready For Purchase
                                <input type="checkbox" data-role="flipswitch" name="flip-checkbox-2" id="flip-checkbox-2" data-on-text="Ready" data-off-text="Not Ready" data-wrapper-class="custom-size-flipswitch"><br>
                                </label>
                                <br>
                                <label id="shoppingToggle">Shopping Mode
                                <input type="checkbox" data-role="flipswitch" name="flip-checkbox-4" id="flip-checkbox-4" checked=""><br>
                                </label>
                                <br>
                                <label id="desktopMerge">Merge List</label>
                            </ul>
                        </div>
                        <div id="friend">
                            <button id="friendLists" class="btn collapsible">Friends' Lists</button>
                            <div class="collapse">
                                <ul id="shagun" class="collapsible">Shagun's Lists</ul>
                                    <p class="collapse">List 1</p>
                                <ul id="ronald" class="collapsible">Ronald's Lists</ul>
                                    <p class="collapse">List 1</p>
                                <ul id="eric" class="collapsible">Eric's Lists</ul>
                                    <p class="collapse">List 1</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="middle">
                        <div id="listArea" class="itemsArea">
                            <div class="groceryList">
                                <div id="buttons">
                                    <div class="d-flex addListBox">
                                        <div class="mr-auto p-2"><p id="listTitle">My List</p></div>
                                        <div class="p-2 ml-auto rightMostButton"><button id="newItem" type="button" class="addButton">Add</button><button class="viewButton btn collapsible">View</button>
                                    </div>
                                </div>
                                <div id="groceryList" class="collapse" style="display: block;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row fixed-bottom" id="buttonFooter">
    <%- include('../partials/mobileMainButtons.ejs'); -%>
    <%- include('../partials/mobileNavbar.ejs'); -%>
</div>


<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="/js/firebaseInit.js"></script>
<script src="/js/database.js"></script>
<script src="/js/mainPageResponsiveness.js"></script>
<script src="/js/mainPage.js"></script>
<!-- the sidebar is to be included as well. -->