<!-- SS - create new grocery item page. -->
<%- include('../partials/appNavbar.ejs'); -%>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href=/css/styleCreateListPage.css>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="/js/database.js"></script>

<div class="container" style="margin-top: 20px">
    <div class="row">
    <div class="col-lg-3" id="left">
    <h3>Shopping Lists</h3><hr>
       <div id="myLists">
           <button id="myLists" class="btn collapsible">My Lists</button>
           <ul id="availableLists" class="collapse">
                <p>My List</p>
                <p>List 2</p>
                <p>List 3</p>
           </ul>
        </div>
        <div id="friendLists">
            <button id="friendLists" class="btn collapsible">Friends' Lists</button>
            <div class="collapse">
            <ul id="shagun" class="collapsible">Shagun's Lists</ul>
                <p class="collapse">List 1</p>
            <ul id="ronald" class="collapsible">Ronald's Lists</ul>
                <p class="collapse">List 1</p>
            <ul id="eric" class="collapsible">Eric's Lists</ul>
                <p class="collapse">List 1</p>
           </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6" id="middle">
                  
        <div id="listArea">
            <div id="buttons">
                <h2 id="listTitle">My List</h2>
                <button id="newItem" type="button">New Item</button>
            </div>
            <div id="groceryList">
            </div>
    </div>
    </div>
    <div class="col-lg-3" id="right">
        <h3>List Actions</h3><hr><br>
        <ul>
            <label for="readyToggle">Mark as Ready For Purchase</label>
            <input id="readyToggle" type="checkbox" data-role="flipswitch" name="flip-checkbox-2" id="flip-checkbox-2" data-on-text="Ready" data-off-text="Not Ready" data-wrapper-class="custom-size-flipswitch"><br>
            <label for="readyToggle">Shopping Mode</label>
            <input type="checkbox" data-role="flipswitch" name="flip-checkbox-4" id="flip-checkbox-4" checked=""><br>
            <label for="merge">Merge List</label>
        </ul>
    </div>
</div>
</div>
<footer id="buttonBar">
    <button id="lists">Lists</button>
    <button id="currentList">Current List</button>
    <button id="friends">Friends</button>
</footer>

<script>
    function listsButton() {
        document.getElementById("left").style.display = "block"
        document.getElementById("left").style.textAlign = "center"
        document.getElementById("left").className = "col-md-12"
        document.getElementById("middle").style.display = "none"
        document.getElementById("right").style.display = "none"
    }
    document.getElementById("lists").onclick = listsButton

    function currentListButton() {
        document.getElementById("left").style.display = "none"
        document.getElementById("middle").style.display = "block"
        document.getElementById("middle").style.textAlign = "center"
        document.getElementById("middle").className = "col-md-12"
        document.getElementById("right").style.display = "none"
    }
    document.getElementById("currentList").onclick = currentListButton

    function friendsButton() {
        document.getElementById("left").style.display = "none"
        document.getElementById("middle").style.display = "none"
        document.getElementById("right").style.display = "block"
        document.getElementById("right").style.textAlign = "center"
        document.getElementById("right").className = "col-md-12"
    }
    document.getElementById("friends").onclick = friendsButton

    let database = [{itemNumber:1, name: "ketchup", qty: 1, units: "bottle", notes: "pls"}, {itemNumber:2, name: "lettuce", qty: 1, units: "bag", notes: "pls"}]
    let itemNumber = 1

    function databaseListItem() {         // object constructor for new database entries. Creates an empty grocery list item object. This is called when the user presses "new item".
        this.itemNumber = null
        this.name = " "
        this.qty = null
        this.units = " "
        this.notes = ""
    }
    
    function loadItems() { //runs when page loads and loads all items from database and makes them visible on list.
        for (item in database) {
            listItem = document.createElement("div")
            listItem.className = "listItems"
            let list = document.getElementById("groceryList")
            list.appendChild(listItem)
            var fields = ["Name", "Quantity", "Units", "Notes(Optional)"]
            var i
        
            for(i=0; i < fields.length; i++) {
                input = document.createElement("input")
                input.setAttribute("type", "text")
                input.id = fields[i] + database[item].itemNumber
                input.classList = "disabledInput"
                input.disabled = true
                label = document.createElement("label")
                label.innerHTML = fields[i]
                label.classList ="listInputLabels"
                listItem.appendChild(label)
                listItem.appendChild(input)
        }
            addButtons(listItem, database[item].itemNumber, database[item])
            document.getElementById("addButton" + database[item].itemNumber).style.display = "none"
            document.getElementById("editButton" + database[item].itemNumber).style.display = "inline-block"
            fillFields(database[item].itemNumber, database[item])
        }

        }
    document.onload = loadItems()

    function fillFields(itemNum, item) { //called by each list item loaded from database. grabs field information and makes it visible in html page.
        document.getElementById("Name" + itemNum).value = item.name
        document.getElementById("Quantity" + itemNum).value = item.qty
        document.getElementById("Units" + itemNum).value = item.units
        document.getElementById("Notes(Optional)" + itemNum).value = item.notes
    }

    function editDBEntry (itemNumber, dbEntry) { //called when a user clicks "Add" on a new item after filling out the fields. Edits item in database's fields to reflect user input.
        let name = document.getElementById("Name" + itemNumber).value
        let qty = document.getElementById("Quantity" + itemNumber).value
        let units = document.getElementById("Units" + itemNumber).value
        let notes = document.getElementById("Notes(Optional)" + itemNumber).value
        dbEntry.name = name
        dbEntry.qty = qty
        dbEntry.units = units
        dbEntry.notes = notes
    }

    function newItemField() {
        let item = document.createElement("div")
        item.className = "listItems"
        item.id = "Item" + itemNumber
        let list = document.getElementById("groceryList")
        list.appendChild(item)
        let dbEntry = new databaseListItem()
        dbEntry.itemNumber = itemNumber
        itemNumber++
        database.push(dbEntry)
        var fields = ["Name", "Quantity", "Units", "Notes(Optional)"]
        var i

        for(i=0; i <fields.length; i++) {
            input = document.createElement("input")
            input.setAttribute("type", "text")
            input.id = fields[i] + itemNumber
            input.classList = "textInput"
            label = document.createElement("label")
            label.innerHTML = fields[i]
            label.classList ="listInputLabels"
            item.appendChild(label)
            item.appendChild(input)
        }
            addButtons(item, dbEntry.itemNumber, dbEntry)
        }


    function addButtons(item, itemNumber, dbEntry) {
        addButton = document.createElement("button")
        addButton.innerHTML = "Add"
        addButton.id = "addButton" + itemNumber
        item.appendChild(addButton)
        addButton.onclick = addItemDetails(item, itemNumber, dbEntry)

        editButton = document.createElement("button")
        editButton.id = "editButton" + itemNumber
        editButton.onclick = edit(item, itemNumber)
        editButton.innerHTML = "Edit"
        item.appendChild(editButton)
        editButton.style.display = "none"

        saveButton = document.createElement("button")
        saveButton.id = "saveButton" + itemNumber
        saveButton.onclick = saveChanges(item, itemNumber)
        saveButton.innerHTML = "Save Changes"
        item.appendChild(saveButton)
        saveButton.style.display = "none"

        cancelButton = document.createElement("button")
        cancelButton.id = "cancelButton" + itemNumber
        cancelButton.innerHTML = "Cancel"
        item.appendChild(cancelButton)
        cancelButton.style.display = "none"

    }

    function addItemDetails(item, itemNumber, dbEntry) {
        return function() {
            editDBEntry(itemNumber, dbEntry)
            document.getElementById("addButton" + itemNumber).style.display = "none"
            document.getElementById("editButton" + itemNumber).style.display = "inline-block"
            var fields = item.getElementsByClassName("textInput")
            var fieldsCopy = []
            for (field in fields) {
                fieldsCopy[field] = fields[field] //create shallow copy to prevent errors related to list length
            }
            var i

            for (i=0; i< fieldsCopy.length; i++) {
                input = fieldsCopy[i]
                input.className = "disabledInput"
                input.disabled = true;
        }
    }
}

    

    function edit(item, itemNumber) {
        return function() {
            document.getElementById("editButton" + itemNumber).style.display = "none"
            document.getElementById("saveButton" + itemNumber).style.display = "inline-block"
            document.getElementById("cancelButton" + itemNumber).style.display = "inline-block"
            var fields = item.getElementsByClassName("disabledInput")
            var fieldsCopy = []
            for (field in fields) {
                fieldsCopy[field] = fields[field] //create shallow copy to prevent errors related to list length
            }
            var i

            for (i=0; i< fieldsCopy.length; i++) {
                input = fieldsCopy[i]
                input.className = "textInput"
                input.disabled = false;
        }
    }
}
    function saveChanges(item, itemNumber) {
            return function() {
                document.getElementById("editButton" + itemNumber).style.display = "inline-block"
                document.getElementById("saveButton" + itemNumber).style.display = "none"
                document.getElementById("cancelButton" +itemNumber).style.display = "none"
                var fields = item.getElementsByClassName("textInput")
                var fieldsCopy = []
                for (field in fields) {
                    fieldsCopy[field] = fields[field] //create shallow copy to prevent errors related to list length
                }
                var i

                for (i=0; i< fieldsCopy.length; i++) {
                    input = fieldsCopy[i]
                    input.className = "disabledInput"
                    input.disabled = true;
            }
        }
    }     

    function collapse() {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].onclick = function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            };
        }
    }

    document.getElementById("newItem").onclick = newItemField
    collapse()

      
</script>

<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="/js/firebaseInit.js"></script>
<script src="/js/database.js"></script>
<!-- the sidebar is to be included as well. -->