<!-- SS - create new grocery item page. -->
<%- include('../partials/appNavbar.ejs'); -%>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" type="text/css" href=/css/style.css>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<div class="container" style="margin-top: 20px">
    <div class="row">
    <div class="col-lg-3">
    <h3>Shopping Lists</h3><hr>
       <div id="myLists">
           <button id="myLists" class="btn collapsible">My Lists</button>
           <ul id="lists" class="collapse">
                <p>My List</p>
                <p>List 2</p>
                <p>List 3</p>
           </ul>
        </div>
        <div id="friendLists">
            <button id="friendLists" class="btn collapsible">Friends' Lists</button>
            <div class="collapse">
            <ul id="shagun" class="collapsible">Shagun's Lists</ul>
                <p class="collapse">List 1</p>
            <ul id="ronald" class="collapsible">Ronald's Lists</ul>
                <p class="collapse">List 1</p>
            <ul id="eric" class="collapsible">Eric's Lists</ul>
                <p class="collapse">List 1</p>
           </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="newItemDetails" class="content">
           <h3>New Item Details</h3>
           <label for="itemName">Name</label>
           <input id="itemName" type="text">
           <label for="brand">Brand</label>
           <input id="brand" type="text">
           <label for="qty">Quantity</label>
           <input id="qty" type="text"> 
           <select id="units">
            <option value="units">Unit(s)</option>
            <option value="lbs">lb(s)</option>
            <option value="kgs">kg(s)</option>
            <option value="g">g(s)</option>
            <option value="mL">mL(s)</option>
            <option value="L">L(s)</option>
           </select><br>
           <label for="notes">Notes</label>
           <input id="notes" type="text">
           <button id="addItem" class="btn btn-dark">Add Item</button>
        </div>
             
        <div id="listArea">
            <div id="buttons">
                <h2 id="listTitle">My List</h2>
                <button id="newItem" type="button" class="collapsible">New Item</button>
            </div>
            <table>
                <tr>
                    <th>
                        one
                    </th>
                </tr>
                <tr>
                    <td>two</td>
                    <td>three</td>
                </tr>
            </table>
    </div>
    </div>
    <div class="col-lg-3" id="listActions">
        <h3>List Actions</h3><hr><br>
        <ul>
            <label for="readyToggle">Mark as Ready For Purchase</label>
            <input id="readyToggle" type="checkbox" data-role="flipswitch" name="flip-checkbox-2" id="flip-checkbox-2" data-on-text="Ready" data-off-text="Not Ready" data-wrapper-class="custom-size-flipswitch"><br>
            <label for="readyToggle">Shopping Mode</label>
            <input type="checkbox" data-role="flipswitch" name="flip-checkbox-4" id="flip-checkbox-4" checked=""><br>
            <label for="merge">Merge List</label>
        </ul>
    </div>
</div>
</div>



<script>

    function collapse() {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].onclick = function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
    }
  };
}
    }

    function newItemDropdown() {
        let btn = document.getElementById("newItem")
        btn.addEventListener("click", function(){
            var content = document.getElementById("newItemDetails")
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
            })
        
    }

newItemDropdown()
collapse()

      
</script>
<!-- the sidebar is to be included as well. -->